body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Graphik', sans-serif;
    color: #333;
    background-color: white;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.home h1 {
    color: #fff;
    font-size: 49px;
    margin: 0;
}

.home nav ul {
    list-style-type: none;
    padding: 0;
}

.home nav ul li {
    display: inline;
    margin: 0 10px;
    padding-top: 0;
}

.home nav ul li a {
    color: #fff;
    font-size: 20px;
    transition: color 0.2s ease;
}

.home nav ul li a:hover {
    color: #333;
}

.menu nav ul li {
    display: inline;
    margin: 10px;
    padding-top: 0;
}

.menu nav ul li a {
    color: #333;
    font-size: 20px;
    transition: color 0.2s ease;
}

.menu nav ul li a:hover {
    color: #999;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; 
    color: #333;
    padding: 0px 20px;
    border-bottom: 1px solid #ddd;
}

.menu-item a {
    color: #333;
    font-size: 30px;
    align-items: center;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 900px;
}

.portrait, .about-text {
    flex: 1;
    padding: 0 10px;
}

.portrait img {
    width: 100%;
    height: auto;
    max-width: 300px;
    float: right;
}

.about-text {
    max-width: 700px;
    text-align: left;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }

    .portrait, .about-text {
        flex: none;
        max-width: 100%;
    }

}

a, a:link, a:visited, a:focus, a:hover, a:active{
    text-decoration:none;
}
